nav ul{
    background-color: rgb(32, 159, 218);
    margin-bottom: 30px;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 10px;
  
  }
span {
  margin: 20px;
}
 span#signin {
      position: absolute;
      top: 5px;
      right: 15px;
      margin: 0;
  }

  span#profile{
    position: absolute;
    top: 5px;
    right:250px;
    margin: 0;
  }
  span#welcome{
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    color: #fff;
  }